<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <ul>
            <li>
                <a href="{{ path('impress') }}">
                    Impressum
                </a>
            </li>

            <li>
                <a href="{{ path('privacy') }}">
                    Datenschutzerklärung
                </a>
            </li>
        </ul>
        {% block javascripts %}{% endblock %}
    </body>
</html>
