{% extends 'base.html.twig' %}

{% block title %}Impressum{% endblock title %}

{% block body %}
    <h1>
        Impressum
    </h1>

    <p>
        Angaben nach § 5 TMG:
    </p>

    <p>
        Malte Hübner
        <br />
        Niebuhrstraße 48
        <br />
        24118 Kiel
    </p>

    <p>
        E-Mail: malte@caldera.cc
        <br />
        Telefon: 0700 11 864 833
    </p>
{% endblock body %}