{% extends 'base.html.twig' %}

{% block title %}Lunchride in Hamburg!{% endblock title %}
{% block body %}
    <marquee>Fahrrad fahren! Jeden Mittwoch um 12:15 Uhr an der Oberbaumbrücke!</marquee>

    <h1>
        Lunchride
    </h1>

    <p>
        Wir sind eine Gruppe fahrradbegeisteter Radfahrer, die jeden Mittwoch um 12:15 Uhr eine Radtour mit dem Fahrrad unternehmen. Wir treffen uns an der Oberbaumbrücke in Hamburg!
    </p>

    <blink>Fahrrad fahren!</blink>
{% endblock body %}